{% for endpoint in include.endpoints %}

### **{{ endpoint.title }}**

**Description**: {{ endpoint.description }}

**Method**: `{{ endpoint.method }}`

**URL**: `{{ endpoint.url }}?token=<TOKEN>`

**Params**    

{% for param in endpoint.params %}
`{{ param.name }} :: {{ param.type }}{% if(param.isRequired) %} (required){% endif %}` {{ param.description }}
{% endfor %}


**Example of a successful request**:
    {% include curl.html endpoint=endpoint %}

**Example of a successful response**
<pre><code class='json'>{{ endpoint.responseExample | jsonify }}</code></pre>
{% endfor %}