<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  

  <div class="container">
    {% include header.html %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for page in site.pages %} {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %} {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9">
          {{ content }}
        </div>
      </div>          
  </div>

  {% include footer.html %}

</body>

</html>